.top-container{
    display: flex;
    position: sticky;
    top:0px;
    align-items: center;     /* Centra verticalmente */
    background-color: rgba(255, 255, 255, .9);
    border-bottom: solid 1px rgba(232, 235, 236, .5);
}

.top-item{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.top-item:hover{
    background-color: rgb(191, 210, 221, .3);
}

.top-item span{
    padding: 12px 8px;
}

.marcador {
  display: inline-block;
  border-bottom: 2px solid blue;
  padding-bottom: 4px;
}

.marcador span {
    font-weight: bolder;    
}

.publicar-container{
    border-bottom: solid 1px rgba(232, 235, 236, .5);
}

.publicar-top{
    display: flex;
    padding-top: 10px;
}

.avatar-container{
    flex-shrink: 0;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.avatar-container img{
    width: 45px;
    height: 45px;
    border-radius: 30px;
}

.publicar-body{
    flex: 1;
    display: flex;
    align-items: center;      
}

.publicar-input{
    width: 100%;
    outline: none;  
    min-height: 50px;
    padding-top: 20px;    
}


.publicar-input:empty:before {
  content:attr(data-placeholder);
  color:gray
}

.publicar-footer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.publicar-footer button{
    margin-right: 15px;
    background-color: rgb(15, 20, 25);
    border: none;
    border-radius: 15px;
    padding: 7px 10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.publicar-footer button:hover{
    background-color: rgb(15, 20, 25, .8);
}

