/* Desktop */

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;

}

.feed {
  flex: 1;
  min-width: 0;
  border: solid 1px rgba(232, 235, 236, .5);
}

.rightbar {
  width: 350px;
  flex-shrink: 0;
}


/* Tablet */

@media (max-width: 1250px) {


  .sidebar {
    width: 80px;
    margin-right: 0px;
  }

  .sidebar .nav-item{
    border-radius: 0px;
  }
  

  .sidebar span {
    display: none;
  }

  .sidebar .nav-item{
    justify-content: center;
  }

}


/* Mobile */

@media (max-width: 1000px) {

  .rightbar {
    display: none;
  }


  .feed {
    width: 100%;
  }

}

@media (max-width: 550px) {
   
  .sidebar{
    display: none;
  }
}
