.pio-container{
    width: auto;
    height: auto;
    border-bottom: solid 1px rgba(232, 235, 236, .5);
}

.pio-container:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.pio-tittle{
    text-align: left;
}

.nick:hover{
    text-decoration: underline;
}

.pio {
    display: flex;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-top: 10px;
}
.pio-right-column {
    flex: 1;
    min-width: 0;
}

.pio-left-column {
    padding-right: 5px;
    flex-shrink: 0;
}
.pio-body p{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-wrap: anywhere;
}

.pio-img{
    padding:5px;
}

.pio-img img{
    width: 45px;
    height: 45px;
    border-radius: 30px;
}

.pio-img img:hover{
    background-color: rgb(191, 210, 221, .3);
}

.pio-footer svg{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    object-fit: contain;
    padding: 5px;
}

.pio-likes-count{
    display: flex;
    align-items: center;
}

.pio-repios-count{
    display: flex;
    align-items: center;
}

.pio-comments-count{
    display: flex;
    align-items: center;
}

.pio-views-count{
    display: flex;
    align-items: center;
}

.pio-likes-count svg:hover{
    background-color: rgba(255, 0, 0, 0.1);
}

.pio-comments-count svg:hover{
    background-color: rgba(0, 106, 255, 0.1);
}

.pio-repios-count svg:hover{
    background-color: rgba(0, 255, 47, 0.1);
}
.pio-views-count svg:hover{
    background-color: rgba(0, 106, 255, 0.1);
}

.pio-footer{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.userAndTime{
    color: rgb(196, 203, 206);
}