.rightbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
}


.tendencias{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgba(232, 235, 236, 1);
    border-radius: 10px;
}

.tendencias-title{
    width: 90%;
    display: flex;
    padding-top: 10px;
}

.tendencias-title span{
    font-size: large;
}


.tendencias-body{
    margin-top: 15px;
    width: 100%;
}

.tendencias-item{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.tendencias-item div{
    width: 90%;
}

.tendencias-item:hover{
    background-color: rgb(191, 210, 221, .3);
    cursor: pointer;
}
.tendencias-item span {
    font-size: small;
}

.sugerencias-container{
    border: solid 1px rgba(232, 235, 236, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    border-radius: 10px;
}

.sugerencias-title {
    display: flex;
    width: 90%;
    padding-top: 10px;
}

.sugerencias-body{
    width: 100%;
}

.seguir-a{
    display: flex;
    padding: 8px 12px;
}

.seguir-a:hover{
    background-color: rgb(191, 210, 221, .3);
    cursor: pointer;
}

.seguir-avatar{
  flex-shrink: 0;
}

.seguir-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    object-fit: contain;
}

.seguir-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.seguir-info span {
    display: inline-block;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seguir-user{
    font-size: small;
}

.seguir-boton{
    flex-shrink: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}

.seguir-boton button{
    padding: 10px 14px;
    border-radius: 20px;
    border: none;
    background-color: rgb(15, 20, 25);
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

.seguir-boton button:hover {
    background-color: rgb(15, 20, 25, .8);
}

