.navbar {
    display: flex;
    flex-direction: column;
    position: fixed; 
}

.nav-item, .nav-title {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    text-decoration: none;
    color: inherit;
    max-width: 190px;
    border-radius: 30px;
}

.icono-notificacion {
    position: relative;
    display: inline-block;
}

.punto-notificacion {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 7px;
    height: 7px;
    background-color: blue;
    border-radius: 50%;
}

.nav-item:hover{
    background-color: rgba(228, 226, 223, .5);
}

.nav-title:hover{
    background-color: rgba(228, 226, 223, .5);
}

.nav-icon {
    width: 24px;
    height: 24px;
}

.nav-label {
    font-size: 20px;
}

.nav-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}


/* @media (min-width: 1250px){

    .nav-img{
        transition: transform 0.5s ease;
    }

    .nav-item:hover .nav-img{
        transform: translateX(110px);
    }
} */